.main-content{
    background-color: $bg-color;
    padding: 24px 0 0;

    @media (min-width: $screen-xl) {
            padding-top: 40px;
    }

    &__nav {
        margin: 24px 0 16px;
        gap: 4px;
        @media (min-width: $screen-md) {
            margin: 32px 0 24px;
        }
        @media  (min-width: $screen-xl) {
            margin: 8px 0 16px;
        }
    }
    &__section{
        padding-bottom: 16px;

        @media (min-width: $screen-md) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 32px ;
        }

    }

    &__text{
        margin: 0 16px 16px;
        box-sizing:border-box;
        @media  (min-width: $screen-md) {
            max-width: 40%;
            margin-left: 24px;
        }
        @media  (min-width: $screen-xl) {
            max-width: 44%;
            margin-left: 32px;
        }
    }

    &__image{
        width: 100%;
        align-self: flex-start;
        @media  (min-width: $screen-md) {
            width: 46%;
            margin: 0 26px;
            border-radius: 6px;
        }
        @media  (min-width: $screen-xl) {
            width: 48%;
            margin: 0 26px;
            border-radius: 6px;
        }
    }
}