.price {
    padding-bottom: 50px;

    @media (min-width: $screen-md) {
        padding-bottom: 16px;
    }

    &__service {
        margin: 0 8px;

        @media (min-width: $screen-md) {
            margin: 16px 24px;
        }

        @media (min-width: $screen-xl) {
            margin: 32px;
        }
    }

    &__text {
        margin: 0 8px;

        @media (min-width: $screen-md) {
            margin: 24px 0;
            max-width: 425px;
        }

        @media (min-width: $screen-xl) {
            margin: 32px 0;
        }
    }
}