//font-size

$font-size-min: 0.875rem; //14px
$font-size-med: 1rem; //16px
$font-size-max: 1.75rem; //28px

//colors

$white: #FFF;
$gray: #7e7e82;
$bg-color: #F8F8F8;
$color-nav-border:#b8ffec;
$color-nav-text:#7e7e82;
$divider-color: #EAEAEA;
$color-hover-text:#ff3e79;
$text-color-primary: #1B1C21;
$text-color-secondary: #7E7E82;
$main-border-color: #B8FFEC;
$section-border-color: #D9FFF5;
$placeholder-color: #B5B6BC;
$card-border-color: #EAEAEA;
$line-color:#41F6D7;

//resolution

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1440px;